* {
    padding: 0;
    margin: 0;
}

button {
    padding: 10px;
}

.header {
    margin: 20px;
}

.footer {
    margin: 20px;
    text-align: center;
}

.left {
    float: left;
    width: 50%;
    text-align: center;
}

.right {
    margin-left: 50%;
    text-align: center;
}

.board {
    position: relative;
    width: 420px;
    height: 420px;
    margin: auto;
}

.cell {
    position: absolute;
    width: 40px;
    height: 40px;
    border: 1px solid gray;
    text-align: center;
}

.board.active > .cell:hover {
    border: 2px solid gray;
}

.cell.hit {
    background-color: red;
}


.cell.missed {
    background-color: gray;
}

.ship {
    position: absolute;
    border: 2px solid green;
    box-sizing: border-box;
    background: rgba(49, 255, 161, 0.05);
    z-index: 1000;
}